NODE_ENV=development
MONGODB_URL=YOUR_MONGODB_URL_HERE
MYSQL_URL=YOUR_MYSQL_URL_HERE
PORT=YOUR_PORT_HERE
API_KEY=YOUR_API_KEY
ROBLOX_COOKIE=YOUR_ROBLOX_COOKIE_HERE
ROBLOX_CLIENT_ID=YOUR_ROBLOX_CLIENT_ID_HERE
ROBLOX_CLIENT_SECRET=YOUR_ROBLOX_CLIENT_SECRET_HERE
AUTH_JWT_SECRET=YOUR_AUTH_JWT_SECRET_HERE
SESSION_SECRET=YOUR_SESSION_SECRET_HERE